# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.python_packages
.DS*

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDEs

.idea/

local.settings.json

*.jpg
*.pdf

# Environments
.env*
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode
# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Files created during the local experiments / tests
tmp/
temp/
experiments/
