<!doctype html>
<html>
  <head>
    <style>
        h1{
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    </style>
    <title> title </title>
  </head>
  <body>
    <h1>{{title}}</h1>
    <img src="{{ image_path1 }}" alt="Bar Graph">
    <img src="{{ image_path2 }}" alt="Bar Graph">
    <img src="{{ image_path3 }}" alt="Bar Graph">
    <img src="{{ image_path4 }}" alt="Bar Graph">
    <img src="{{ image_path5 }}" alt="Bar Graph">
    <img src="{{ image_path6 }}" alt="Bar Graph">
    <img src="{{ image_path7 }}" alt="Bar Graph">
    <img src="{{ image_path8 }}" alt="Bar Graph">
    <img src="{{ image_path9 }}" alt="Bar Graph">
    <img src="{{ image_path11 }}" alt="Bar Graph">
    <img src="{{ image_path12 }}" alt="Bar Graph">
    <img src="{{ image_path13 }}" alt="Bar Graph">
    <img src="{{ image_path14 }}" alt="Bar Graph">
    <img src="{{ image_path15 }}" alt="Bar Graph">
  </body>
</html>


